.root {
    -fx-background-image: url("books.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}
.label{
-fx-text-fill: black;
-fx-font-size: 18px;
-fx-font-weight: bold;
}

.text-field{
-fx-border-color: black;
-fx-background-radius: 6;
}

.button {
-fx-background-color: white;
-fx-font-weight: bold;
}