.root{
-fx-background-image: url('grey-background2.png');
-fx-background-repeat: no-repeat;
-fx-background-size: cover;
}

.label{
-fx-font-family: "Cursive";
-fx-font-size: 18px;
-fx-font-weight: bold;
}

.text-field{
-fx-border-color: black;
-fx-background-radius: 6;
}

.button {
-fx-background-color: whitew;
-fx-font-weight: bold;
}
